{% extends 'base.html.twig' %}

{% block title %}Lien{% endblock %}

{% block body %}
    <h1>Lien</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ link.id }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ link.link }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ link.content }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ link.url }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('link_index') }}">Retour à la liste</a>

    <a href="{{ path('link_edit', {'id': link.id}) }}">Modifier</a>

    {{ include('link/_delete_form.html.twig') }}
{% endblock %}
