<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Petit Arbre Landais{% endblock %}</title>
        <meta name="description" content="Notre association vous propose de patager avec vous l'art du bonsaï à Mont de marsan" />
        {% block stylesheets %}

            {{ encore_entry_link_tags('app') }}
            <!-- Custom fonts for this template -->
            <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

        {% endblock %}
    </head>
    <body>
        <header>
        {% block header %}
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-2">
                        <img src="{{asset('build/images/bonsai.png')}}" alt="logo" style="width:200px;color: white;">
                    </div>
                    <div class="col-10">
                        <h1 class="site-heading text-center text-white d-none d-lg-block">
                            <span class="site-heading-lower" style="color:green;">Petit arbre Landais</span>
                            <span class="site-heading-upper text-primary mb-3" style="color:grey!important;">--- l'art du bonsaï ---</span>
                        </h1>
                    </div>
                </div>
            </div>
        {% endblock %}
        </header>
        <main>

            {% block menutop %}
                <div class="container">
                    {{ render(controller('App\\Controller\\PublicController::menu')) }}
                </div>
            {% endblock %}
            <section class="container">
                <div class="container-fluid">
                    <div class="row mb-5 mt-5">
                    {% block body %}

                    {% endblock %}
                    </div>
                </div>
            </section>

        </main>

        <footer class="footer text-faded text-center py-3">
            {% block footer %}
                <div class="container">
                    <div class="mb-2">
                        <a href="{{ path('public_contact') }}">A propos</a>
                        <a href="{{ path('public_contact') }}">Contact</a>
                        <span>&copy; Petit arbre Landais 2020</span>
                        <a href="">CGU</a>
                        <a href="{{ path('public_mentions') }}">Mentions Légales</a>
                    </div>
                    <div>
                        <img src="{{asset('build/images/bonsai.png')}}" class="ui centered image" style="width:5em;">
                    </div>
                    <div>
                        <a class="nav-link text-uppercase text-expanded" href="{{ path('app_login') }}">Connexion</a>
                    </div>
                </div>
            {% endblock %}
        </footer>


        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>

<body>
